@page
@model VegApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProteinsIn100g)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CarbsIn100g)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].FatsIn100g)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CaloriesIn100g)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProteinsIn100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarbsIn100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatsIn100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaloriesIn100g)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
